body{
    background-color: black;
}
.carousel-item img {
    height: 32vw;
}
.carousel-caption{
    width: 45%;
    margin: 0 auto;
}
.nav-width{
 width: 75%;
}
@media only screen and (max-width: 660px) {
    .nav-width{
        width: 15%;
       }
}

@media only screen and (min-width: 661px) and (max-width: 991px) {
    .nav-width{
        width: 50%;
       }
    .btn-position{
        position: relative;
        left: 120px;
    }
}
.live-button {
    /* Live button animation */
    transition: ease-out 2s;
}

.live-button:hover {
    box-shadow: inset 200px 0 0 0 rgb(25, 0, 255);

}

#btn-anm a:hover {
    color: black;
}