.font-change{
    font-family: 'Poppins', sans-serif;
}
.carousel-item img {
    height: 32vw;
    filter: brightness(40%);
}
.carousel-caption{
    width: 45%;
    margin: 0 auto;
}
.nav-width{
 width: 75%;
}
/* .img-size{
    height: 405px;
} */
@media only screen and (max-width: 660px) {
    .nav-width{
        width: 23%;
       }
    .carousel-item img{
        height: 120vw;
    }
    .text-size{
        font-size: 14px;
    }
    .postion-left{
       position: relative;
       left: 25px;
    }
    .postion-left1{
        position: relative;
        right: 12px;
    }
    .register-margin{
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .mobile-width{
        width: 100%;
    }
    .slide-width{
        width: 70%;
    }
    .auto{
        text-align: center;
    }
    .auto1{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

    }
    .auto2{
        position: relative;
        left: 100px;
    }
}

@media only screen and (min-width: 661px) and (max-width: 991px) {
    .nav-width{
        width: 52%;
       }
    .btn-position{
        position: relative;
        left: 120px;
    }
    .carousel-item img{
        height: 60vw;
    }
    .student-img{
        height: 665px;
    }
}
.live-button {
    transition: ease-out 2s;
}

.live-button:hover {
    box-shadow: inset 200px 0 0 0 rgb(25, 0, 255);

}

#btn-anm a:hover {
    color: black;
}
.text-color{
    color: #fec53a;
}